@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
#root {
  margin: 0px;
  padding: 10px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #8f8f8f;
  border: 0px none #ffffff;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ae6565;
}
::-webkit-scrollbar-thumb:active {
  background: #fe5d5d;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border: 0px none #ffffff;
  border-radius: 0px;
  opacity: 0;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
